* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation section */

/* .navbar, .navbar-nav {
  display: flex !important;
} */
.navbar {
  background-color: #F0EAE3 !important;
  align-items: center !important;
}

.navbar-nav {
  margin-right: 50px !important;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none !important;
  color: #7D8479 !important;
  font-size: 24px !important;
  padding: 0 20px !important;
  font-family: "Playfair Display" !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

nav img {
  width: 275px;
  height: auto;
}

.navbar-collapse.show {
  border: 1px solid #B36A52 !important;
  padding: 10px 0px !important;
}



/* body section */


#about {
  background-color: #F0EAE3;
  text-align: center;
  color: #7D8479; 
  font-family: "Playfair Display"; 
  padding: 125px 0px;
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 50%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.description {
  margin-right: 5px;
}

.about-text > div:first-child {
  order: 1; 
  flex-grow: 1;
}

.about-text > div:last-child {
  order: 2;
}

#about h1 {
  font-family: "Raleway";
  font-size: 48px;
}

#about h2 {
  font-family: "Raleway";
  font-size: 36px;
  padding-top: 25px;
}

.circle-image {
  border: 5px solid #B36952;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 5px;
}

.social-links-container {
  padding-left: 75px;
}

.social-links {
  display: inline-block;
}

.social-link img {
  height: 30px;
  width: auto;
  transform: rotate(-90deg);
  padding: 0;
  margin: 0;
}

.link-item {
  list-style: none;
  padding: 0;
}

.link-item:hover {
  transform: scale(1.2);
}

#fun-section {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#about-section-container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

#about-section-container svg {
  padding: 0 10px;
}

/* project section */

#projects {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 60px;
}

.projects-title {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Playfair Display";
  font-size: 32px;
  color: #7e8277;
}

/* TODO: change font later */
.project-category {
  font-family:'Courier New', Courier, monospace;
  border: 3px solid #5F99AE;
  /* margin: 100px 400px 50px 400px; */
  padding: 15px 10px;
  border-radius: 20px;
  width: 80%;
  margin: 10px auto;
}

.project-skills {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-box1, .skill-box6 {
  background-color: #7D8479;
}

.skill-box2, .skill-box7 {
  background-color: #B36952;
  padding: 5px 20px;
  margin: 5px 10px;
  border-radius: 10px;
}

.skill-box3 {
  background-color: #C39776;
}

.skill-box4 {
  background-color: #a1a49f;
}

.skill-box5 {
  background-color: #5F99AE;
}

.skill-box1, .skill-box3, .skill-box4, .skill-box5, .skill-box6 {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 10px; 
}

.skill-text {
  color: white;
  margin-bottom: 0px;
}

hr {
  opacity: 0.5;
}

.book-tracker {
  height: 450px;
  width: 650px;
  padding-right: 5px;
}

.hundehutte-img {
  height: auto;
  width: 800px;
}

.hundehutte, .yogi {
  height: 500px;
  width: 250px;
}

.farm-img, .color-img {
  margin: 0px 20px;
  height: auto;
  width: 800px;
}

.language-img, .quizzical-img {
  height: auto;
  width: 500px;
  border: 1px solid black;
  border-style: inset;
}

.py-fi {
  padding: 0px 10px 10px 0px;
  height: 500px;
  width: 600px
}

.illustration-website {
  width: 800px;
  height: auto; 
  padding-bottom: 10px;
}

.hundehutte2 {
  height: 490px;
  width: 250px;
}

.figgy {
  height: 400px;
  width: 200px;
  padding: 10px 10px;
}

.app-images {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
}

.app-description {
  text-align: center;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Lora', serif;
}

.app-link {
  text-decoration: none;
  background-color: #c39776;
  color: white;
  padding: 5px 10px;
}

.app-link2 {
  text-decoration: underline;
  color: black;
}

.app-link2:hover, .github-link, .api-link {
  text-decoration: underline;
  color: #c39776;
}

.github-link:hover, .app-link:hover, .api-link:hover {
  opacity: 0.75;
}

.app-link:hover {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* footer section */

.footer-container {
  background-color: #F0EAE3;
  width: 100%;
  min-height: 200px;
  padding: 30px 0px;
  margin-top: 30px;
}

#footer, .footer-item i {
  color: #7D8479;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer-social-title {
  font-size: 26px;
}

.footer-social-title, .copyright{
  text-align: center;
}

.footer-item {
  list-style: none;
  padding: 10px;
}

.footer-item:hover {
  transform: scale(1.2);
}

.copyright {
  padding-top: 30px;
  font-size: 18px;
}

/* media queries */

@media (max-width: 480px) {

  #about {
    padding: 50px 0px;
  }

  .circle-image {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto 0 auto;
  }

  .about-text {
    display: block;
  }

  #about-section-container {
    height: 400px;
  }

  .project-category {
    width: 80%;
    margin: 10px auto;
  }

  .farm-img, .color-img, .hundehutte-img, .illustration-website {
    width: 75%;
    height: auto;
  }

  .project-skills {
    row-gap: 10px;
  }

  .book-tracker, .quizzical-img, .language-img {
    width: 75%;
    height: auto;
    margin-top: 5px;
  }

  .py-fi {
    width: 75%;
    height: auto;
    margin-top: 5px;
    border: 1px solid black;
  }

  /* .project-category {
    margin: 0 auto;
    width: 80%;
  } */
}

@media (min-width: 481px) and (max-width: 768px) {
  #about-section-container {
    height: 500px;
  }

  /* .project-category {
    width: 80%;
    margin: 0 auto;
  } */

  .farm-img, .color-img, .book-tracker, .hundehutte-img, .illustration-website, .quizzical-img, .language-img {
    width: 600px;
    margin-top: 5px;
  }

  .app-images {
    margin: 0px 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* .project-category {
    width: 80%;
    margin: 10px auto;
  } */

  .book-tracker {
    margin-top: 5px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .book-tracker {
    margin-top: 5px;
  }

  /* .project-category {
    width: 80%;
    margin: 10px auto;
  } */
}

@media (min-width: 1281px) {

}
